@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  font-family: 'Catamaran', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.left,
.right {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.left {
  color: #efefef;
  height: 100%;
  float: left;
  text-align: center;
  overflow: hidden;
  position: fixed;
}

.left .bg-img {
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.left-inner {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.left .info {
  position: relative;
  color: #fff;
  width: 90%;
  margin: 0 auto;
}

.left .info .name {
  font-weight: 500;
}

.left .info .social-links {
  margin-top: 30px;
}

.left .info .fa {
  margin: 10px;
  font-size: 24px;
  color: #fff;
}

.left .nav-links {
  margin-top: 20px;
}

.left .nav-item {
  margin: 0 10px;
  color: #fff;
  transition: color 0.3s;
}

.left .nav-item:hover {
  color: #33E5BB;
}

.right {
  float: right;
  overflow-y: scroll;
  height: 100vh;
}

.right-inner {
  padding: 50px;
}

.right h4 {
  margin: 0 0 20px;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #2A54F5;
  background-image: linear-gradient(45deg,#2A54F5 0%,#33E5BB 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.right .content {
  font-weight: 300;
  line-height: 1.5;
}

.right .exp-item {
  margin-bottom: 30px;
}

.right .exp-item .job {
  margin: 0;
  font-weight: 700;
}

.right .exp-item .duration {
  font-size: 13px;
  font-weight: 500;
  float: right;
  color: #aaa;
  text-transform: uppercase;
}

.right .projects .project-item {
  margin-bottom: 20px;
}

.right .projects .project-title {
  font-weight: 700;
}

.right a.resume {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0px;
  background-color: #f5f5f5;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.right a.resume:hover {
  background-color: #f1f1f1;
}

.right a.resume .resume-link {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #2A54F5;
  background-image: linear-gradient(45deg,#2A54F5 0%,#33E5BB 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes ping-slow {
  0% {
    transform: scale(0.8) translate(-50%, -50%);
    opacity: 0.8;
  }
  70% {
    transform: scale(1.3) translate(-50%, -50%);
    opacity: 0.3;
  }
  100% {
    transform: scale(1.5) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes ping-slower {
  0% {
    transform: scale(0.8) translate(-50%, -50%);
    opacity: 0.6;
  }
  70% {
    transform: scale(1.5) translate(-50%, -50%);
    opacity: 0.2;
  }
  100% {
    transform: scale(1.8) translate(-50%, -50%);
    opacity: 0;
  }
}

.animate-ping-slow {
  animation: ping-slow 3s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.animate-ping-slower {
  animation: ping-slower 4s cubic-bezier(0, 0, 0.2, 1) infinite;
}